@use "../tools" as tools;

@for $i from 1 through 6 {
    .grid--columns-#{$i} {
        grid-template-columns: repeat($i, minmax(0, 1fr));
    }

    .grid__column--span-#{$i} {
        grid-column: span $i/span $i;
    }
}

@for $i from 1 through 6 {
    @media (min-width: 768px) {
        .md\:grid__column--span-#{$i} {
            grid-column: span $i/span $i;
        }
    }

    @media (min-width: 768px) {
        .md\:grid--columns-#{$i} {
            grid-template-columns: repeat($i, minmax(0, 1fr));
        }
    }
}

@for $i from 1 through 6 {
    @media (min-width: 1024px) {
        .lg\:grid__column--span-#{$i} {
            grid-column: span $i/span $i;
        }
    }

    @media (min-width: 1024px) {
        .lg\:grid--columns-#{$i} {
            grid-template-columns: repeat($i, minmax(0, 1fr));
        }
    }
}

@for $i from 1 through 6 {
    @media (min-width: 1280px) {
        .xl\:grid__column--span-#{$i} {
            grid-column: span $i/span $i;
        }
    }

    @media (min-width: 1280px) {
        .xl\:grid--columns-#{$i} {
            grid-template-columns: repeat($i, minmax(0, 1fr));
        }
    }
}

@for $i from 1 through 12 {
    .grid--gap-#{$i} {
        gap: tools.space($i);
    }
}

@media (min-width: 1024px) {
    .lg\:grid {
        display: grid;
    }
}

.grid {
    display: grid;

    > * {
        min-width: 0;
    }
}

.equalizer > div {
    display: flex;
    flex-direction: column;
}

.equalizer .card {
    height: 100%;
}

.equalizer {
    h1 {
        margin: 1.5rem;
        line-height: 4.5rem;
    }

    h2,
    h3 {
        margin: 0;
        line-height: 3rem;
    }

    h4,
    h5 {
        margin: 0;
        line-height: 1.5rem;
    }

    li {
        padding: 0;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    p {
        margin-bottom: 1.5rem;
    }
}
