.alert {
    margin: 2rem 0rem;
    padding: 2rem;
    display: relative;
    transition: all 300ms ease-in-out;
    
    &__title {
        margin: 0;
    }

    &__text {
        margin: 1rem 0 0 0;
    }

    &__close:before, .close:after {
        position: absolute;
        top: 0;
        width: 1rem;
    }

    &__close { position: relative; }
    &__close:before { transform: rotate(-45deg); }
    &__close:after { transform: rotate(45deg); }

    &--hidden {
        transform: scaleY(0);
        opacity: 0;
    }

    &--disabled {
        max-height: 0 !important;
    }
    border-top-left-radius: radius(lg);
    border-bottom-right-radius: radius(lg);
}