@use "../tools/" as tools;

.spinning-loader {
    width: 30px;
    height: 30px;
    border: 5px solid var(--primary);
    border-left-color: var(--primary-light);
    border-radius: 50%;
    background: transparent;
    animation-name: rotate-s-loader;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    position: relative;
}

@keyframes rotate-s-loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    color: var(--primary);
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
    0% {
        box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
    }
    33% {
        box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
    }
    66% {
        box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
    }
    100% {
        box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
    }
}

@keyframes button-zoom-in {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes button-say-no {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-1rem);
    }
    30% {
        transform: translateX(1rem);
    }
    50% {
        transform: translateX(-0.5rem);
    }
    70% {
        transform: translateX(-0.5rem);
    }
    90% {
        transform: translateX(0.25rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes action-zoom-in {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.3);
    }
}
