@use '../tools/' as tools;

.product {
	.header {
		border-bottom-right-radius: 0rem;
		margin-bottom: 0rem;
		background-color: #e1d4c8;
	}

	.product__content {}

	.image {


		img {
			margin-bottom: 2rem;
			border-bottom-right-radius: 2rem;
			border-top-left-radius: 2rem;
		}
	}

	.order {
		margin-bottom: 2rem;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 1rem;
		margin: 0;
		z-index: 99;
		background: #fff;
		box-shadow: 0px -2px 4px rgb(0 0 0 / 30%);

		.order__header {
			display: flex;
			justify-content: space-between;
			align-items: center;

			i {
				transform: rotate(180deg);
			}

			h4 {
				margin: 0;
			}

		}

		.order__list {
			display: none;
		}

		&--open {
			.order__header {
				i {
					transform: rotate(0deg);
				}
			}

			.order__list {
				display: block;
				max-height: 70vh;
				overflow: auto;
			}
		}



		&--compressed {}
	}
}

@include tools.media-breakpoint(md) {}

@include tools.media-breakpoint(lg) {
	.product {
		margin-top: 2rem;

		display: grid;

		&>* {
			min-width: 0;
		}

		grid-template-columns: repeat(3, 1fr);
		gap: 4rem;

		.order {
			position: relative;
			box-shadow: 1px 1px 4px rgb(0 0 0 / 30%);
			z-index: 0;
			margin-bottom: 2rem;

			&__header {
				button {
					display: none;
				}

				h4 {
					font-size: 1.5rem;
				}
			}

			.order__list {
				display: block;
			}

			&:focus-within {
				.order__list {
					display: block;
				}
			}
		}

		&__content {
			grid-column: span 2;


		}



		.header {
			border-bottom-right-radius: 2rem;
			margin-bottom: 1rem;
			background-color: #e1d4c8;


		}
	}

}