.breadcrumbs {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-items: end;
    top: 0;
    gap: space(1);
    right: 0;
    margin-right: space(4);
    padding-top: $spacer;

    &__item {
        @extend .text-xs;
        background-color: var(--primary-page);
        color: var(--primary-page-contrast);
        padding: 0.125rem space(2);
        transition: all 300ms ease-in-out;
        &:first-child {
            border-top-left-radius: radius('sm', 'tl');
            border-bottom-left-radius: radius('sm', 'bl');
        }
        &:last-child {
            border-top-right-radius: radius('sm', 'tr');
            border-bottom-right-radius: radius('sm', 'br');;
        }

        &:hover {
            padding: 0.125rem space(4);
        }
    }
}

@include media-breakpoint(md) {
	.breadcrumbs {
		margin-right: space(8);
	}
}

@include media-breakpoint(lg) {
	.breadcrumbs {
		margin-right: space(12);
	}
}