.ctx__card {
    &-label {
        border-top-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    .wp-block-separator {
        margin-left: -1rem !important;
        margin-right: -1rem !important;
        width: calc(100% + 2rem);
    }

    &-no-image {
        .ctx__card-header {
            position: initial !important;
        }

        .ctx__card-label {
            top: -1rem !important;
            bottom: auto !important;
            left: 0;
        }
    }
}
