@use '../tools/' as tools;
/*
*
*   Card component
*
*/

.card {
	display: flex;
	position: relative;

	div.mt-auto.wp-block-spacer {
		height: 0px !important;
	}

	/****************************************
    *   Modifiers
    ****************************************/

	&--shadow {
		box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
	}

	&--hover {
		transition: all 300ms;

		&:hover .card__image>img,
		&:focus .card__image>img {
			transform: scale(1.1);
		}

		&.card--shadow:hover {
			//box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
		}

		&.card--rotate:hover {
			//transform: rotate(3deg);
		}
	}

	&__image img {
		transform: scale(1);
		transition: all 300ms ease-in-out;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	&--image-top {
		flex-direction: column;

		.card__image,
		.card__image {
			aspect-ratio: 16/9;
			width: 100%;
		}

		.card__badge {
			right: tools.space(4);
			top: tools.space(4);
		}

		.card__label {
			top: 0;
			margin-left: -0.5rem;
			transform: translate(0, -50%);
		}
	}

	&--white,
	&.bg-white {
		background-color: var(--white);
		color: var(--black);
	}

	&__image--loading {
		place-items: center;
		display: grid;
		aspect-ratio: 16/9;
		height: 100%;
		background: var(--primary-light);
	}

	&--image-right {
		flex-direction: row-reverse;

		.card__badge {
			right: tools.space(4);
			top: tools.space(4);
		}

		.card__image,
		.card__image {
			align-self: stretch;
			aspect-ratio: 1/1;
			height: 100%;
			width: 33%;
		}

		.card__label {
			left: 0;
			margin-left: tools.space(4);
		}
	}

	&--image-bottom {
		flex-direction: column-reverse;

		.card__image,
		.card__image {

			aspect-ratio: 16/9;
			width: 100%;
		}

		.card__badge {
			right: tools.space(4);
			bottom: tools.space(4);
		}
	}

	&--image-left {
		flex-direction: row;

		.card__badge {
			left: tools.space(4);
			top: tools.space(4);
		}

		.card__image {
			flex: 1 1 0;
		}

		.card__content {
			flex: 2 1 0;
		}

		.card__label {
			right: 1rem;
			top: 0;
			transform: translate(0, -50%);
		}
	}

	&--no-image {
		flex-direction: column;

		.card__label {
			right: tools.space(4);
			left: auto;
		}

		.card__badge {
			margin-top: tools.space(-4);
			margin-left: tools.space(-4);
		}
	}

	&--first {
		border-top-left-radius: tools.radius('lg', 'tl');
		border-bottom-left-radius: tools.radius('lg', 'bl');

		&.card--image-top .card__image,
		&.card--image-left .card__image {
			border-top-left-radius: tools.radius('lg', 'tl');
		}
	}

	&--last {
		border-top-right-radius: tools.radius('lg', 'tr');
		border-bottom-right-radius: tools.radius('lg', 'br');

		&.card--image-bottom .card__image,
		&.card--image-right .card__image {
			border-bottom-right-radius: tools.radius('lg', 'br');
		}
	}

	&--primary {

		.card__badge,
		.card__label {
			background-color: var(--primary-page);
			color: var(--primary-page-contrast);
		}
	}

	&__image-overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		background: rgba(255, 255, 255, 0.7);
		padding: 1rem 1.5rem;
		border-top-right-radius: 1.5rem;
		backdrop-filter: blur(5px);
		max-width: 80%;

		.card__subtitle {
			color: var(--gray-800);
		}
	}

	/****************************************
    *   Elements
    ****************************************/

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: tools.space(4) tools.space(6);
		flex-grow: 1;

		label.card__label {
			margin-top: tools.space(-7);
			margin-left: tools.space(-2);
			left: tools.space(4);
		}
	}

	&__title,
	h1,
	h2,
	h3 {
		font-weight: 500;
		font-size: tools.space(6);
		margin: 0;
	}

	&card__title--small {
		font-size: tools.space(4);
		font-weight: 600;
	}

	&__subtitle,
	h4,
	h5,
	h6 {
		font-size: tools.space(3);
		color: tools.gray(500);
		display: inline-block;
		margin: 0;
		font-size: 1rem;

		&.text--primary {
			color: var(--primary-page)
		}
	}

	// card-text is legacy
	h2,
	h3,
	h4,
	h5,
	&__text,
	p,
	&__title {
		color: var(--black);
	}

	&.dark {

		h2,
		h3,
		h4,
		h5,
		.card__text,
		p,
		.card__title {
			color: var(--white);
		}
	}

	&__text,
	.description {
		margin-top: 1rem;
		margin-bottom: 1rem;
		overflow: hidden
	}

	// Legacy
	&__footer {
		margin-top: auto;
		padding-top: tools.space(2);
		display: flex;
		align-items: center;

		&--dotted {
			border-top: 4px dotted tools.gray(200);
		}
	}

	hr {
		margin-top: auto;
		padding: 0.5rem 0rem 0;
		width: auto !important;
		margin-left: -1.25rem;
		margin-right: -1.25rem;
	}

	&__actions {
		justify-self: flex-start;
		margin-left: -1rem;
	}

	&__hidden-link {
		position: static;

		&::before {
			content: "";
			position: absolute;
			z-index: 0;
			left: 0;
			bottom: 0;
			top: 0;
			right: 0;
			pointer-events: visibleFill;
		}
	}

	&__supplemental {
		justify-self: flex-end;
		margin-left: auto;
	}

	&__badge {
		aspect-ratio: 1/1;
		border-radius: 9999px;
		display: flex;
		z-index: 1;
		flex-direction: column;
		position: absolute;
		align-items: center;
		justify-content: center;
		padding: 0 tools.space(2);

		&__day {
			font-size: 1rem;
			line-height: 0.7rem;
			font-weight: 600;
		}

		&__month {
			line-height: .8rem;
			font-size: 0.75rem;
			font-weight: 500;
		}
	}

	&__svg {
		padding: tools.space(4);
		display: grid;
		place-items: center;
	}

	&__image {
		position: relative;
		overflow: hidden;
	}

	&__label {
		position: absolute;
		border-top-left-radius: tools.space(2);
		border-bottom-right-radius: tools.space(2);
		padding-left: tools.space(2);
		padding-right: tools.space(2);
	}

	&__image-label {
		position: absolute;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		background: #fff;
		border-radius: 999px;
		padding-right: 1rem;
		right: 1rem;
		top: 1rem;
		color: var(--black);
		margin-top: 0 !important;
		padding-left: 0 !important;

		img {
			width: 2.5rem;
			border-radius: 999px;
		}
	}

	&--loading {

		.card__image,
		.card__title,
		.card__text {
			background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);

			background-size: 200% 100%;
			animation: 1s shine linear infinite;
		}

		.card__image {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.card__content {
			padding: 20px;
		}

		.card__title {
			height: 30px;
		}

		.card__text {
			height: 70px;
			width: 80%;
		}
	}


	&--center {
		text-align: center;
		align-items: center;
	}

	@keyframes shine {
		to {
			background-position-x: -200%;
		}
	}


}