.event-details {
    &.has-dividers .event-details-item {
        border-bottom: 4px dotted #ddd !important;
    }
}

.ctx__description-item__link {
    background-color: var(--primary);
    color: var(--primary-contrast);
    padding: 4px;
    border-radius: 99px;
    display: grid;
    place-content: center;
}
