.footer {
    background: gray(800);
    color: gray(500);
    padding: space(12) 0 space(12) 0;
}

.bottom {
    &__text {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        margin-top: 0.25rem;
    }

    &__logo {
        figure {
            height: space(5);
            width: space(5);
            margin: 0;
        }
    }
}