@use "./button";
@use "../tools" as tools;

/* Header 
 * @deprecated
*/


header.wp-block-template-part {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(0deg, #f4f4f4 100%, transparent 0);
    background-size: 100% 80px;
    padding-top: 16px;
    background-repeat: no-repeat;

    > .wp-block-group {
        margin-bottom: -57px;
    }
}


