@use '../tools/' as tools;

.pills {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;

	&__item {
		font-weight: bold;
		position: relative;
		font-weight: 700;
		position: relative;
		background: var(--gray-300);
		white-space: nowrap;
		color: var(--gray-800);
		padding: 0px tools.space(2);
		border-radius: tools.rounded(md);

		&--small {
			border-radius: tools.rounded(sm);
		}

		&--warning {
			background: var(--warning-light);
			color: var(--warning);
		}

		&--success {
			background: var(--success-light);
			color: var(--success);
		}

		&--error {
			background: var(--error-light);
			color: var(--error);
		}

		&--primary {
			background: var(--primary-page);
			color: var(--primary-page-contrast);
		}

		&--dark {
			background-color: var(--gray-800);
			color: var(--gray-100)
		}

	}

	a.pills__item:hover {
		background-color: var(--primary-page);
		color: var(--primary-page-contrast)
	}

	&--small {
		.pills__item {
			border-radius: tools.rounded(sm);
		}
	}
}