@use '../tools/' as tools;

.progress {
    &__label {
        font-size: 0.75rem;
		/* margin-top: 2rem; */
		position: absolute;
		transform: translate(11px, 33px);
		background: var(--black);
		border-radius: 999px;
		padding: 0px 4px;
		color: var(--white);

		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 5px 7px 5px;
			border-color: transparent transparent var(--black) transparent;
			transform: translate(100%, -6px);
		}
    }

    &__legends {
        display: flex;
        justify-content: space-between;
    }

    &__track {
        border-radius: tools.rounded(md);
    }

    &__indicator {
        display: flex;
        justify-content: flex-end;
        position: relative;
        border-radius: tools.rounded(md);
		height: 1.5rem;
    }


    .legend--max {
        display: inline-block;
        .legend__value {
            text-align: right;
        }
    }

    .legend__value {
        font-size: tools.space(6);
        font-weight: bold;
    }

    .legend__label {
        font-size: tools.space(3);
    }
}