@use '../tools' as tools;

section,
.section {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-size: cover;
	background-position: center;
	padding-left: 1rem;
	padding-right: 1rem;

	&--rounded {
		border-radius: tools.rounded('lg');
	}
}