.wp-block-table td,
.wp-block-table th {
    border: 0px solid !important;
}

table {
    border-spacing: 1rem 0px;

    td {
        padding: 8px 8px 8px 0;
    }
}

.table--dotted {
    td,
    th {
        padding: 4px 0px 8px 0px;
        word-break: normal;
    }

    tr:not(:last-child) {
        position: relative;
        &::after {
            content: " ";
            content: " ";
            width: 100%;
            height: 4px;
            display: block;
            position: absolute;
            left: 0;
            border-bottom: 4px dotted #00000033;
            bottom: 0;
        }
    }

    tr.tr--primary:not(:last-child)::after {
        border-bottom: 4px dotted var(--primary);
    }

    tr.tr--success:not(:last-child)::after {
        border-bottom: 4px dotted var(--success);
    }

    tr.tr--warning:not(:last-child)::after {
        border-bottom: 4px dotted var(--warning);
    }
}

.dark .table--dotted {
    tr:not(:last-child)::after {
        border-bottom: 4px dotted #ffffff33;
    }
}

.table--primary {
    tr:not(:last-child)::after {
        border-bottom: 4px dotted var(--primary);
    }
}

.table--success {
    tr:not(:last-child)::after {
        border-bottom: 4px dotted var(--success);
    }
}

.wp-block-table {
    margin: 0;
    overflow-x: visible;
    /* overflow-x: auto; */
}

.wp-block-table table {
    border-collapse: separate;
    width: 100%;
}

.wp-block-table td,
.wp-block-table th {
    padding: 4px 0px 8px 0px;
    border: none;
    word-break: normal;
}
