@use '../tools' as tools;

.tabs {
    display: flex;
    padding-top: tools.space(12);

    &__item {
        border-radius: tools.rounded(sm);
        overflow: hidden;
        padding: 0.25rem 1rem;
        margin-right: 1rem;
        cursor: pointer;
    }
}