@use '../tools' as tools;
@use '../settings/sizes' as sizes;

/*
*   Mobile
*/
.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--gray-100);
	z-index: 40;
	display: flex;
	height: 5rem;
	align-items: flex-end;
	flex-direction: row;

	&__inner {
		margin-top: auto;
		width: 100%;
		align-items: flex-end;
		padding-left: 1rem;
		padding-right: 1rem;
		flex-direction: row;
		display: flex;
	}

	&--search {

		.top-bar__claim,
		.top-bar__brand,
		.top-bar__menu,
		.hamburger {
			display: none !important;
		}

		.top-bar__search {
			display: block;
		}
	}

	// Logo
	&__brand {
		margin-right: auto;
		display: flex;
		height: 100%;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;

	}

	&__logo {
		margin-bottom: tools.space(-5);
		margin-left: tools.space(0);
		margin-right: tools.space(4);
		z-index: 100;
		width: 4.5rem;
		height: 4.5rem;
		transition: transform 200ms ease-in-out;
	}

	&__title {
		font-size: 1.5rem;
		color: var(--black);
		font-weight: 600;
	}

	&__claim {
		display: none;
	}



	.search {

		display: flex;
		margin-right: 0rem;

		&--open {
			width: 100%;
		}

		&__form {
			flex: 1;
			width: 100%
		}

		&__button {
			height: 36px;
			padding: 0rem 0.75rem;
			margin: 0.25rem 0 -0.25rem 1rem;
			width: auto;
			border-bottom: none;
			background-color: transparent;
			margin-top: 0;
			position: relative;
			margin-left: 1rem;
			cursor: pointer;
			border-radius: tools.rounded(md);

			&:hover {
				background: var(--primary);
				color: var(--primary-page-contrast)
			}
		}

		.search__input {

			border: 2px solid var(--primary);
			background: #fff;
			border-radius: tools.rounded(md);
			display: flex;
			align-items: center;
		}

		.search__send {
			display: grid;
			place-content: center;
			margin-right: .25rem;
			padding: 3px;

			i {
				font-size: 20px;
			}
		}

		.search__results {
			position: fixed;
			left: 0;
			right: 0;
			top: 5rem;
			bottom: 0;
			visibility: hidden;
			opacity: 0;
			background: rgba(0, 0, 0, 0.6);
			backdrop-filter: blur(5px);

			&--visible {
				visibility: visible;
				opacity: 1;
			}

			ul {
				background: var(--gray-200);
				max-width: 1440px;
				margin: auto;
			}
		}

		input {
			width: 100%;
			height: 100%;
			height: 2rem;
			padding-left: 1rem;
		}
	}



	// Dropdown Menu


	// Menu
	.menu {
		width: 100%;
		display: flex;
		background: var(--gray-300);
		backdrop-filter: blur(5px) opacity(0.8);
		margin-top: 5rem;
		position: fixed;
		flex-direction: column;
		visibility: hidden;
		top: 0;
		right: 0;


		li,
		a,
		i {
			visibility: hidden;
		}

		&__filler {
			background-color: var(--gray-100);
			height: 2rem;
		}

		&--open {

			li,
			a,
			i {
				visibility: visible;
			}

			visibility: visible;
			bottom: 0;
			overflow-y: auto;
		}

		&__item {
			font-size: tools.space(5);
			line-height: tools.space(7);
			display: flex;
			background-color: var(--gray-100);
			border-bottom: 4px dotted var(--gray-400);
			flex-direction: column;
			padding: tools.space(4);
			text-align: left;
			cursor: pointer;

			&--last {
				border-bottom: none !important;
			}

			a {
				color: var(--black);
				display: flex;
				align-items: center;
				padding-left: tools.space(4);
				position: relative;

				.menu__icon {
					margin-right: 1rem;
					font-weight: normal;
					width: tools.space(5);
				}

				span {
					font-weight: 600;
					flex: 1;
				}

				i.mobile__arrow {
					background: rgba(0, 0, 0, 0.3);
					transform: rotate(-90deg);
					transition: transform 300ms;
					border-radius: 999px;
					width: 2rem;
					height: 2rem;
					display: flex;
					align-items: center;
					justify-items: center;
					justify-content: center;
				}
			}

			// Open Dropdown Menu
			&__icon {
				width: tools.space(2);
				margin-right: tools.space(2);
				display: inline-block;
			}



		}

		&--open li.menu__item--open {
			>a {
				color: var(--primary);
			}

			i.mobile__arrow {
				transform: rotate(0deg) !important;
				color: var(--primary-page-contrast);
				background-color: var(--primary-page) !important;
			}

			ul.dropdown {
				transform: scaleY(1);
				opacity: 1;
				position: relative;
				height: auto;
				pointer-events: all;
				max-height: 2000px;
				visibility: visible !important;
			}
		}

		&__mobile {
			margin-top: auto;
			display: flex;
			gap: 0rem;
			background-color: gray(300);


			li {
				padding: .25rem .5rem;

				&:last-child {
					margin-left: auto;
				}

				a {
					color: tools.gray(700);
				}
			}
		}
	}

	.dropdown {
		padding-left: 0;
		background-color: transparent;
		border-bottom-right-radius: tools.space(4);
		transform: scaleY(0);
		opacity: 0;
		pointer-events: none;
		max-height: 0;
		height: 0;
		box-sizing: border-box;
		overflow: hidden;

		transform-origin: top;
		transition: all 200ms ease-in-out;
		padding: 0;

		&__item {

			font-size: tools.space(5);
			color: transparent;
			font-weight: 500;
			padding: tools.space(2) tools.space(4) tools.space(2) tools.space(0);


			&--last {
				border-bottom: none;
			}

			a span {
				font-weight: normal !important;
			}
		}
	}
}



@include tools.media-breakpoint(lg) {

	.topbar::focus .search {
		width: auto;
	}

	.top-bar {


		&__logo {
			margin-left: tools.space(4);

			&:hover figure,
			&:focus figure {
				transform: scale(1.2);
			}


		}

		&__inner {
			max-width: sizes.$body-width;
			margin-left: auto;
			margin-right: auto;
			padding-right: 1rem;
		}

		.menu li,
		.menu a,
		.menu i {
			visibility: visible !important;
		}


		.menu {
			order: 99;
			margin: 0;
			padding: 0;
			width: auto;
			background: var(--gray-100);
			height: auto;
			display: flex;
			visibility: visible !important;
			justify-content: flex-end;
			flex-direction: row;
			position: static;
			align-items: self-end;

			.dropdown {
				padding-left: 0;
				background-color: #ffffff;
				border-bottom-right-radius: tools.space(4);
				position: absolute;
				transform: scaleY(.7);
				opacity: 0;
				pointer-events: none;
				transform-origin: top;
				transition: all 100ms ease-in-out;
				top: 0;
				margin-top: tools.space(9);
				width: max-content;
				right: 0;
				padding: tools.space(0) 0;

				.dropdown__item {
					color: grayscale(900);
					padding: 0;
					font-size: 1rem;

					a {
						padding: tools.space(1) tools.space(4);
						display: flex;
						justify-items: center;

						&:hover,
						&:focus {
							background: var(--primary-page);
							color: var(--primary-page-contrast) !important;
						}
					}
				}
			}


			.menu__item {
				height: 36px;
				padding: 0;
				margin: tools.space(1) 0 tools.space(-1) tools.space(4);
				width: auto;
				border-bottom: none;
				background-color: transparent;
				margin-top: 0;
				position: relative;
				margin-left: tools.space(4);

				>a {
					height: 100%;
					padding: tools.space(1) tools.space(3);
					color: var(--black);
					font-size: tools.space(4);
					transition: background-color 100ms ease-in-out;
					line-height: tools.space(7);
					border-top-left-radius: tools.space(3);
					border-bottom-right-radius: tools.space(3);

					i.mobile__arrow {
						background: transparent;
						transform: rotate(0deg) !important;
						transition: none;
						margin-right: -0.25rem;
						width: auto;
						height: auto;
						margin-left: 0.5rem;
					}
				}

				&--active>a {
					background: var(--gray-200);
					color: var(--black);
					border-bottom-right-radius: tools.space(2);
				}


				&:hover,
				&:focus-within {
					>a {
						background: var(--gray-300);
						color: var(--black);
						border-bottom-right-radius: 0;

						&:hover,
						&:focus {
							color: var(--primary-page-contrast) !important;
						}
					}

					&--has-dropdown>a:hover {
						border-bottom-right-radius: 0;
					}

					.dropdown {
						transform: scaleY(1);
						opacity: 1;
						height: auto;
						overflow: auto;
						max-height: 2000px;
						pointer-events: all;


					}


				}

				>a:hover,
				>a:focus {
					background: var(--primary-page);
					color: var(--primary-page-contrast);
				}
			}


			&__icon {
				display: none;
			}




		}
	}

	.top-bar--search {
		.menu {
			display: none;
		}
	}

	.search {
		&__button {
			i {
				font-size: 20px;
			}
		}
	}

}

@include tools.media-breakpoint(xxl) {
	.top-bar {
		.top-bar__claim {
			display: inline-block;
			white-space: nowrap;
			font-weight: 600;
			font-size: tools.space(4);
			margin: tools.space(1) 0 tools.space(1) 0;
			color: var(--black);
		}
	}

	.top-bar .menu {

		&__menu-item.open {
			transform: rotateX(180deg)
		}
	}
}

.jump-to-content {
	position: absolute;
	top: 0;
	left: 50%;
	background: var(--primary-page);
	color: var(--primary-page-contrast);
	padding: 0.5rem 1rem;
	display: block;
	z-index: 9999;
	border-bottom-left-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
	font-weight: bold;
	text-transform: uppercase;
	transition: translate 200ms ease-in-out;
	transform: translate(0px, -42px);
	opacity: 0;

	&:focus {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}