@media (min-width: 600px) {
    .wp-block-navigation__submenu-container {
        background: #ffffff;
        padding-left: 0;
        background-color: #ffffff;
        border: none !important;
        border-bottom-right-radius: 1rem;
        position: absolute;
        transform: scaleY(0.2);
        opacity: 0;
        pointer-events: none;
        transform-origin: top;
        transition: all 300ms ease-in-out !important;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        top: 0;
        margin-top: 2.25rem;
        width: max-content;
        right: 0;
        padding: 0;

        .wp-block-navigation-item {
            color: grayscale(900);
            padding: 0;
            font-size: 1rem;

            a {
                padding: 0.25rem 1rem;
                display: flex;
                justify-items: center;

                &:hover,
                &:focus {
                    background: var(--primary) !important;
                    color: var(--primary-contrast) !important;
                }
            }
        }
    }

    .wp-block-navigation-submenu:hover .wp-block-navigation__submenu-container {
        transform: scaleY(1) !important;
        opacity: 1;
        pointer-events: all;
    }
}
header.wp-block-template-part {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(0deg, #f4f4f4 100%, transparent 0);
    background-size: 100% 80px;
    padding-top: 16px;
    background-repeat: no-repeat;

    > .wp-block-group {
        margin-bottom: -57px;
    }
}
