@media (max-width: 600px) {
    .wp-block-navigation__responsive-container {
        padding: 0 !important;
        height: 100%;
    }

    .wp-block-navigation__responsive-close {
        height: 100%;
    }

    .wp-block-navigation__responsive-dialog {
        height: 100%;
    }

    .wp-block-navigation__responsive-container-content {
        height: 100%;

        .wp-block-navigation__container {
            height: 100%;
            width: 100%;
            overflow-y: auto;
            padding: 0rem;
            gap: 0 !important;
        }

        .button-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 1rem;
            background: #f0f0f0;
            width: 100%;
        }
    }

    .ctx-menu {
        &__submenu {
            position: relative;
            opacity: 0;
            pointer-events: none;
            padding: 0;
            margin: 0;
            transform: scaleY(0);
            transform-origin: top;
            transition: all 300ms ease-in-out;
            margin-bottom: 0;
            height: 0 !important;
            margin-left: calc(24px + 1.5rem) !important;
        }

        &__item-arrow {
            margin-left: auto;
            background-color: #f0f0f0;
            aspect-ratio: 1 / 1;
            display: grid !important;
            place-items: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            transform: rotate(-90deg);
            transition: transform 300ms ease-in-out;
            outline: none;
            -webkit-tap-highlight-color: transparent;
        }

        &__item-icon {
            width: 24px;
            height: 24px;
            display: block;
        }

        &__item {
            &:has(button:focus) {
                .ctx-menu__submenu {
                    opacity: 1;
                    pointer-events: all;
                    transform: scaleY(1);
                    height: auto !important;
                }

                .ctx-menu__item-arrow {
                    transform: rotate(0deg);
                }
            }
            width: 100%;
            border-bottom: 4px dotted #e1e1e1;
            a {
                font-weight: 600;
            }

            span {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding-left: 1rem;
                padding-bottom: 0.6rem;
                padding-top: 0.6rem;
                padding-right: 1rem;
                border-top-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }
        }

        &__item--has-children {
            span {
                border-bottom-right-radius: 0rem;
            }
        }

        &__submenu-item {
            overflow: hidden;
            a {
                display: block;
                padding: 0.4rem 1rem;
                font-weight: normal;
                &:hover {
                    background: #f0f0f0;
                }
            }

            &:last-of-type {
                border-bottom-right-radius: 1rem;
            }
        }
    }
}

@media (min-width: 600px) {
    .wp-block-navigation__container {
        gap: 0;
    }
    .ctx-menu {
        &__submenu {
            position: absolute;
            background: #fff;
            opacity: 0;
            pointer-events: none;

            padding: 0;
            margin: 0;
            transform: scaleY(0);
            transform-origin: top;
            transition: all 300ms ease-in-out;
            border-bottom-right-radius: 1rem;
            margin-bottom: 0;
        }

        &__item-icon {
            display: none !important;
        }

        &__item-arrow {
            height: 16px;
            display: grid;
            place-content: center;
        }

        &__item {
            a {
                font-weight: 600;
            }

            span {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding-left: 0.8rem;
                padding-bottom: 0.4rem;
                padding-top: 0.4rem;
                padding-right: 0.8rem;
                border-top-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }
            &:hover {
                span {
                    transition: all 300ms ease-in-out;
                    background-color: var(--primary);
                    color: var(--primary-contrast);
                }
                & > .ctx-menu__submenu {
                    opacity: 1;
                    pointer-events: all;

                    transform: scaleY(1);
                }

                .ctx-menu__item-arrow i {
                    color: var(--primary-contrast) !important;
                }
            }
        }

        &__item--has-children {
            span {
                border-bottom-right-radius: 0rem;
            }
        }

        &__submenu-item {
            overflow: hidden;
            a {
                display: block;
                padding: 0.4rem 1rem;
                font-weight: normal;
                &:hover {
                    background: #f0f0f0;
                }
            }

            &:last-of-type {
                border-bottom-right-radius: 1rem;
            }
        }
    }
}

header.wp-block-template-part {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(0deg, #f4f4f4 100%, transparent 0);
    background-size: 100% 80px;
    padding-top: 16px;
    background-repeat: no-repeat;

    > .wp-block-group {
        margin-bottom: -57px;
    }
}

.wp-block-navigation__responsive-container-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 2;
}
