.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text--primary {
    color: var(--primary);
}

.text-center {
    text-align: center;
}

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: normal;
}

.justify-between {
    justify-content: space-between;
}

.invisible {
    visibility: hidden;
    opacity: 0;
}
