@use '../tools/' as tools;

.hidden {
	display: none;
}

.order-first {
	order: -1;
}

.order-initial {
	order: initial;
}

@include tools.media-breakpoint(md) {
	.md\:show {
		display: initial;
	}

	.md\:hidden {
		display: none;
		;
	}
}

@include tools.media-breakpoint(lg) {
	.lg\:show {
		display: initial;
	}

	.lg\:hidden {
		display: none;
	}

	.lg\:order-first {
		order: -1;
	}

	.lg\:order-initial {
		order: initial;
	}
}

@include tools.media-breakpoint(xl) {
	.xl\:show {
		display: initial;
	}

	.xl\:hidden {
		display: none;
	}

	.xl\:flex {
		display: flex;

		&--1 {
			flex: 1;
		}

		&--center {
			display: flex;
			align-items: center;
		}

		&--row {
			flex-direction: row;
		}

		&--column {
			flex-direction: column;
		}
	}
}

.flex {
	display: flex;
}

.gap {
	gap: 1rem;
}