.flex {
    display: flex;
	&--1 {
		flex: 1;
	}
	&--center {
		display: flex;
		align-items: center;
	}
	&--row {
		flex-direction: row;
	}
	&--column {
		flex-direction: column;
	}

}



.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.rounded-full {
    border-radius: 9999px;
}

.hidden {
    display: none;
}

@media (screen(md)) {
    .md\:show {
        display: inherit;
    }
    .md\:hidden {
        display: none;
    }
}

@media (screen(lg)) {
    .lg\:show {
        display: inherit;
    }
    .lg\:hidden {
        display: none;
    }
}

@media (screen(lg)) {
    .xl\:show {
        display: inherit;
    }
    .xl\:hidden {
        display: none;
    }
	.xl\:flex {
		display: flex;
		&--1 {
			flex: 1;
		}
		&--center {
			display: flex;
			align-items: center;
		}
		&--row {
			flex-direction: row;
		}
		&--column {
			flex-direction: column;
		}
	
	}
}



$utilities: () !default;

.margin--0 {
	margin: 0;
}

.margin--1 {
	margin: 1rem;
}

.padding--0 {
	padding: 0;
}

.nowrap {
    white-space: nowrap;
}

.mt-auto {
	margin-top: auto;
}