@use '../settings/sizes' as sizes;
@use '../tools/' as tools;

body {
	max-width: sizes.$body-width;
	margin: auto;
	font-family: Exo\ 2, sans-serif;
	background-color: var(--gray-100);
	padding-left: 1rem;
	padding-right: 1rem;
}

@include tools.media-breakpoint(xl) {
	body {
		padding-left: 0rem;
		padding-right: 0rem;
	}
}