@use '../settings/' as settings;

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

@function themecolor($color) {
    $colorvar: map-deep-get(settings.$themecolors, $color, 'color');
    @return $colorvar;
}

@function gray($shade) {
    $colorvar: map-deep-get(settings.$graytones, $shade, 'color');
    @return $colorvar;
}

