@use '../settings/' as settings;

@mixin rounded($size) {
    border-top-left-radius: map-get(settings.$border-multiplier, tl) * map-get(settings.$border-base, $size);
    border-top-right-radius: map-get(settings.$border-multiplier, tr) * map-get(settings.$border-base, $size);
	border-bottom-right-radius: map-get(settings.$border-multiplier, br) * map-get(settings.$border-base, $size);
    border-bottom-left-radius: map-get(settings.$border-multiplier, bl) * map-get(settings.$border-base, $size);
    
}